header{
    background-color: gray;
}

.page-link{
    display: flex;
    justify-content: space-between;
  }
  
  
  l
  
  .navbar{
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
  }
  .nav-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 24.7rem;
  }
  
  .hamburger{
      display: none;
      cursor: pointer;
  }
  .bar{
     display: block; 
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: black;
  }    
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.title-1 {
    text-align: center;
    font-size: 50px;
}
.right:hover {
    background-color:yellow;
}
.about{
    background-color: green;
}
.contact-Email-number{
    font-family: 'Comforter', cursive;
}
.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}


.first-about {
    display: flex;
    position: absolute;
    right: 22%;
    padding: 10px;
    height: 500px;
    width: 700px;
    
}
.text {
    text-align: center;
}
.image img {
    display: block;
    justify-content:space-around;
    height: 271px;
    width: 300px;

}
.informations {
    position: relative;
    right: -5%;
    height: 28.5rem;
    width: 15.5rem;
}
body {
    background-color: lavender;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .images-size{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  

  }
  @media all and (max-width: 768px){
    .hamburger{
       display: block; 
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .page-link{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        width: 100%;
    }
    
    .right:hover {
        background: yellow;
    }
    
    

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .text{
          display: flex;
          text-align: left;
      }
     
      .contact-Email-number{
          display: none;
          
      }
      .image{
          display: flex;
          justify-content: center;
          position: relative;
          right: -75%;
          height: 17rem;
          width: 4rem;
      
      }
      .informations {
        display: flex;
        text-align: center;
        position: relative;
        margin-top: 20rem;
        right: -53%;
        height: 28.5rem;
        width: 15.5rem;
    }
    .images-size{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;  
    
      }
      h1{
          display: contents;
          position: relative;
          right: -27%;
          text-align: center;
      }
}