.topnav {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;

  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.title-1 {
    text-align: center;
    font-size: 50px;
}
.right:hover {
    background-color:yellow;
}

.left {
    height: 1vh;
}


.first-about {
    display: flex;
    position: absolute;
    right: 22%;
    padding: 10px;
    height: 500px;
    width: 700px;
    
}
.text {
    text-align: center;
}
.image {
    display: block;
    justify-content:space-around;

   height: 271px;
   width: 300px;

}
.informations {
    position: relative;
    right: -5%;
    height: 450px;
    width: 250px;
}
body {
    background-color: lavender;
}