header{
  background-color: gray;
}

.page-link{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  
}
li {
list-style: none;
}
a {
  display: block;
  margin: 0px;

}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
body{
    height: auto;
    
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24.7rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
   display: block; 
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: black;
}


.right:hover {
  background: yellow;
}
.faq {
  background-color: green;
}
.contact-Email-number{
  font-family: 'Comforter', cursive;
}
.left {
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;    
  
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;
  }
  li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.title-1 {
    text-align: center;
    font-size: 50px;
}
.right:hover {
    background-color:yellow;
}
.faq{
  background: green;
}
.left {
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;   
}

.informations-box {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%;
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: left;
    border: 10px solid green;
    height: 60rem;
    width: 60rem;
}

.information {
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: left;
    margin: 1rem;
    border: 1px solid rgb(71, 24, 226);
    font-size: 25px;
}
.carrot {
    margin:0;
    display: flex;
    height: 50px;
    width: 50px;
    background: black;

}
button {
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #34495e;
    color: white;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: white;
    color: #111;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after{
    content: '\02C3';
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  .accordion-item-header.active::after {
    content: '\02C5';
  }
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}   
 .accordion-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #008f68, #fac042) 1;
 
  }
  @media all and (max-width: 768px){
    .hamburger{
       display: block; 
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .page-link{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        width: 100%;
    }
    
    .right:hover {
        background: yellow;
    }
    
    

    
    .reviews {
        display: flex;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        margin-top: 73%;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .transition-2{
        display: flex;
        position: relative;
        margin-top: 100rem;
        height: 50%; 
        width: 100%;
      }
     
  
    .left{
        display: none;
    }
    
   
}
   