.topnav {
    display: flex;
    justify-content: space-between;
   
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    
}
li {
    float: left;
}
a {
    display: block;
    margin: 0px;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
  }
  .background {
    display: flex;
    background: url(../Background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50rem;
    width: 100%;
    position: relative;
    padding: 0px;
}
.title-1 {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 100px;
    font-family: 'Dr Sugiyama', cursive;
}
.right:hover {
    background: yellow;
}
.home {
    background-color: green;
}
.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    
}


.images-one-box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 16.5rem;
    left: 43%;
    
}
.photos {
    display: flex;
    margin: 20px; 
    object-fit: cover; 
  
}

.images-two-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-top: 0px;
    margin: 0px;
    height: 200px;
    width: 16.5rem;
    left: 43%;

}
h2 {
    text-align: center;
}
.Email {
   text-align: center;
   font-size: 30px;
}
.number {
    text-align: center;
   
}
.background-color {
    background-color: white;
  
}
.transition {
   margin-top: 60px; 
   display: flex;
   justify-content: center;
}
.reviews-all {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 1000px;
    
    
}
.reviews {
    display: flex;
    margin: 30px;
    background: url(../images/blue_brushstroke.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
   
p {
    display: flex;
    margin-top: 100px;
    font-size: 25px;
    text-align: center;

    
}
footer {
    display: flex;
    justify-content: center;
    background-color: gray;
}
.base-all {
   
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 60px;
    background-color: gray;
}
.reviews-all-two {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
}
.reviews-images {
    border-radius: 20%;
    height: 15rem;
    width: 100%;
}
.contact-Email-number{
    font-family: 'Comforter', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.transition{
   display: flex;
   position: relative;
   height:50px; 
   width:500px;
   left: 30%;
}

   