@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
header{
    background-color: gray;
}
.lobel{
   background-color: black;
   display: flex;
   border-radius: 50px;
   height: 26px; 
   width: 50px;
}

.fa-moon{
    color: #f1c40f;
    
}
.fa-sun{
    color: #f39c12;
}
.page-link{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.7;
}
li {
  list-style: none;
}
a {
    display: block;
    margin: 0px;

  }
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
  }
body{
      margin-top: 51px;
      background-color: var(--primary-color);
        
  }
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block; 
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
.background {
    display: flex;
    background: url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45rem;
    width: 100%;
    position: relative;
    padding: 0px;
}
.title-1 {
    margin-top: 51px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 100px;
    font-family: 'Dr Sugiyama', cursive;
}
.hover:hover {
    background: gray;
}
.home {
    background-color: orange;
}
.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    
}
                
.logo-images{
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 100px;   
}

.images-one-box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 16.5rem;
    left: 43%;
    
}

.images-two-box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 16.5rem;
    left: 43%;
  
}
.photos {
    display: flex;
    margin: 20px; 
    object-fit: cover; 
}
h2 {
    text-align: center;
}
.Email {
   text-align: center;
   font-size: 30px;
}
.number {
    text-align: center;
}
.background-color {
    background-color: var(--primary-color);
}
.transition {
   margin-top: 60px; 
   display: flex;
   justify-content: center;
}
.reviews-all {
    margin-top: 60px;
    display: flex;
    justify-content: center;  
}
.reviews {
    display: flex;
    margin: 0 auto;
    background: url(../images/blue_brushstroke.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
   
.p-review {
    display: flex;
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
}
.footer-2{
    text-align: center;
}
    
.reviews-all-two {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.reviews-images {
    border-radius: 20%;
    height: 15rem;
    width: 100%;
    }
.contact-Email-number{
    font-family: 'Comforter', cursive;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.transition{
   display: flex;
   position: relative;
   height:50px; 
   width: 500px;
   left: 30%;
}
.Event-Date{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    position: relative;
}

.Event-information{
    position: absolute;
    top: 100px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
@media all and (max-width: 768px){
    body{
        height: 100vh;
        background-color: var(--primary-color);
          
    }
    .hamburger{
       display: block; 
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .page-link{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .navbar{
        min-height: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        width: 100%;
        background-color: yellow;
    }
    .background {
        display: flex;
        position: relative;
        background: url(../Background-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 50rem;
        width: 100%;
        padding: 0px;
    }
    .title-1 {
        margin-top: 51px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        font-size: 80px;
        font-family: 'Dr Sugiyama', cursive;
    }
    .images-one-box {
        display: flex;
        position: relative;
        left: 0px;
        flex-direction: column;
        height: 50rem;
        width: 100%;
    }
    .images-two-box {
        display: flex;
        position: relative;
        left: 0px;
        flex-direction: column;
        height: 70rem;
        width: 100%;
        margin-top: 125px;
    }
    .right:hover {
        background: yellow;
    }
    
    .images-in{
        display: flex;
        width: 100%;
    }
    .reviews {
        display: flex;
        position: relative;
        background: url();
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 73%;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .transition-2{
        display: flex;
        position: relative;
        height: 50%; 
        width: 100%;
      }
      p {
        display: flex;
        position: relative;
        left: 100%;
        margin-top: 73%;
        font-size: 1.5rem;
        text-align: center;
    }
    .left{
        display: none;
    }
    .transition{
        display: flex;
        position: relative;
        height:50px; 
        width: 100%;
        left: 0%;
     }
     .reviews-all {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        
    }
    p {
        display: flex;
        position: relative;
     
        font-size: 25px;
        text-align: center;  
    }
    .reviews-images {
        border-radius: 20%;
        height: 25rem;
        width: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .reviews {
        display: flex;
        margin: 30px;
        background: url();
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .p-review{
        display: flex;
        position: relative;
        left: 4%;
    }
.reviews-all-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Event-Date{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}
.Event-information{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}
}
   