body {
  background-color: wheat;
}


.page-link{
  display: flex;
  justify-content: space-between;
}




.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
   display: block; 
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.right:hover {
    background-color:gray;
}
.photos-navbar{
  background-color: orange;
}
.contact-Email-number{
  font-family: 'Comforter', cursive;
}
.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}


.images {
  padding: 5px; 
    text-align: center;    
}

.face {
    text-align: center;
    font-size: 30px;
}

.photos {
    display: flex;
    justify-content: center;
    height: 100rem;
    width: 94rem;
    flex-wrap: wrap;

}


.photos img {
    transition: 1s;
    margin: 60px;
  }
 .photos img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
  }
  .photos-images {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 20rem;
    margin: 60px;
    flex-direction: column;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .face-1{
    display: none;
    text-align: center;
  }

  .photos-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 23rem;
    width: 94rem;
    flex-wrap: wrap;

  }
  footer {
    display: block;
    color: gray;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;

}
.base-all {
   
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 60px;
    background-color: gray;
}
  @media all and (max-width: 768px){
    .hamburger{
       display: block; 
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .page-link{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .nav-item{
      margin: 10px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .navbar{
        height: 0px;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
     
    .left{
      margin-top: 0.5rem;
    }
   .photos-images {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 20rem;
    margin: 50px;
    flex-direction: column;
  }
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 105rem;
  flex-wrap: wrap;
}
.photos-2{
  display: none;
}
.face{
  display: none;
  flex-direction: row;
}
.face-1{
  display: flex;
  justify-content: center;
  text-align: center;
}

}
   