.topnav {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}
a {
    display: block;
    padding: 8px;

  }
  .right:hover {
    background-color:yellow;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .Say {
      font-size: 20px;
      align-items: center;
      padding: 10px;
      display: flex;
      margin: 0;
      position: relative;
      right: -50%;
   
  }
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}
.big-box {
    justify-content: space-around;
}
.big-box-two {
    justify-content: space-around;
}
  .small-box{
      height: 15rem;
      width: 30rem;
      border: 5px solid green;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 36px;
      background-color: white;

      
  }
  
.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}
  body {
      background-color: turquoise;
  }