.topnav {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;

  }
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.title-1 {
    text-align: center;
    font-size: 50px;
}
.right:hover {
    background-color:yellow;
}
.sp-hover{
    background-color: green;
}

.left {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}

.service-all {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 5px solid springgreen;
    height: 500px;
}

.Face-Paint {
    margin-top: 33px;
    position: relative;
    right: 13%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}


.window-Paint {
    margin-top: 33px;
    position: relative;
    right: 13%;
    height: 200px;
    width: 200px;
   
}
.image-one {
    height: 200px;
    width: 200px;
   
}
h1 {
    text-align: center;
}
.title {
    position: relative;
    right: -40%;
}

.title-serice{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .text {
      display: flex;
      margin-bottom: 15px;
      justify-content: center;
      align-content: center;
    
  }
  .text-2{
        margin-top: 33px;
        padding: 12px;
        justify-content: center;
        align-content: center;
        height: 490px;
        width: 700px;
    }
  .informations{
      margin: 10px;
  }